h1{
    text-align:center;
}
#icono{
    text-align: center;
   
}
html{
    background-image: url(http://www.desktopimages.org/pictures/2014/0112/1/nature-mountain-forest-landscape-fog-national-geographic-ultrahd-4k-wallpaper-192522.jpg);
}
#sidebar{
  text-align: right;
  margin-left: 87%;
}
